
body {
    text-align: center;
 
}

.home_image {
    width: 75%;
    height: auto;
   
}

ul {
    list-style-type: none;
}cd

/* This applies for large monitors */

@media (min-width: 1000px) {

    .home_image {
        max-width: 500px;
        height: auto;
    }
    
    
    }
